html, body {
	font: 16px/24px sans-serif;
	margin: 32px 0 0 0;
	padding: 0;
	height: 100%;
	position: relative;
	background-color: #eee;
}

a img {
	border: none;
}

.website-header {
	background: #C60C30;
	color: white;
	font-size: 24px;
	height: 48px;
	padding: 0 1em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	transition: line-height 50ms, font-size 50ms;
}	

.website-header .logo {
	width: 62px;
	height: 20px;
	margin-right: 8px;
}

.website-header .logo img {
	width: 100%;
}

.website-header h1 {
	font-size: 1em;
}

.website-header h1 > a {
	text-decoration: inherit;
	color: inherit;
}

.website-header a {
	color: white;
	background: transparent;
	display: inline;
}

@media (max-width: 450px) {
	.website-header .cart {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 30px;
		text-indent: 40px;
		line-height: 40px;
		margin-top: 9px;
		float: right;
		overflow: hidden;
		color: white;
		background: transparent url(images/cart.svg) 0 0 no-repeat;
	}

	.website-header .cart .cart-item-count {
		position: absolute;
		left: 4px;
		right: 0;
		top: -5px;
		text-indent: 0;
		text-align: center;
		font-size: 10px;
		line-height: 30px;
	}
}

@media (min-width: 720px) {
	body {
		margin-top: 84px;
	}

	.website-header {
		font-size: 32px;
		box-shadow: none;
		height: 92px;
	}

	.website-header .logo {
		margin-right: 18px;
		width: 200px;
		height: 65px;
	}
}

.website-content {
	margin: 0 auto;
}

.website-content:after {
	display: block;
	content: '';
	clear: both;
}

.website-footer {
	display: block;
	clear: both;
	text-align: center;
}

.website-header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.website-header h1 {
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

.website-header h1 a {
	display: inline-block;
}

.website-header .cart {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.75em;
}

.product-list {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.product-details,
.cart-contents {
	margin: 20px auto;
	padding: 20px;
	background-color: white;
	border-radius: 3px;
}

.order-form {
	margin-top: 40px;
}

@media (min-width: 650px) {
	.website-content {
		width: 650px;
	}

	.product-list {
		text-align: left;
	}
}

@media (min-width: 1000px) {
	.website-content {
		width: 1000px;
	}
}


.product-list .product {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 240px;
	padding: 0;
	margin: 20px;
	padding: 20px;
	background-color: white;
	border-radius: 3px;
	text-decoration: none;
	color: #333;
}

.product-list .product.sold-out:after {
	position: absolute;
	top: 100px;
	left: 10px;
	right: 10px;
	background: #c60c30;
	color: white;
	font-size: 2.25em;
	line-height: 1.75em;
	text-align: center;
	border-radius: 5px;
	content: 'Out of stock 😭';
	transform: rotate(25deg);
	box-shadow: 0 0 0 2px #fff, 0 0 0 5px #c60c30;
}

.product-list .product .product-image {
	display: block;
	margin: 20px auto;
	max-width: 240px;
}

@media (min-width: 800px) {
	.product-list .product .product-image {
		height: 200px;
	}
}

.product-list .product .title {
	height: 1.5em;
}

.product-list .product .description {
	height: 135px;
	position: relative;
	overflow: hidden;
}

.product-list .product .description:after {
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	display: block; 
	content:'';
	height: 30px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(60%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 60%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.product-list .product .order-now-link {
	display: block;
	margin: 0 1em;
	text-align: center;
}

.product-details .product-pictures {
	text-align: center;
}

.product-details .picture {
	display: block;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
}

.product-details .picture-detail {
	width: 50px;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.product-details .current .picture-detail {
	border: 1px solid #c60c30;
}

@media (min-width: 800px) {
	.product-details {
		padding-left: 340px;
		min-height: 352px;
		position: relative;
	}

	.product-details .product-pictures {
		float: left;
		width: 300px;
		margin-left: -320px;
	}

	.product-details .product-preview {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 340px;
		right: 0;
		background: white;
		transition: opacity ease-in-out 200ms;
		pointer-events: none;
		border-radius: 0 3px 3px 0;
	}
}

.product-details dl {
	
}

.product-details dl > dt {
	font-weight: bold;
	display: inline-block;
	width: 75px;
}

.product-details dl > dt:after {
	content: ':';
}

.product-details dl > dd {
	margin: 0;
	display: inline;
}

.product-details dl > dd:after {
	content: '';
	display: block;
}

.product-details form {
	display: block;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 1em;
}

.product-details fieldset {
	border: none;
	margin: 0;
	padding: 0;
	display: block;
}

.product-details fieldset + fieldset {
	margin-top: 1em;
}

.product-details fieldset > legend {
	padding: 0;
	font-weight: bold;
}

.product-details fieldset > legend:after {
	content: ':';
}

.product .order-now-link,
.product-details button,
.order-form button,
.done-button {
	border-radius: 3px;
	padding: 0.5em 2em;
	border: none;
	background-color: #c60c30;
	color: white;
	font: inherit;
	cursor: pointer;
}

.product-details fieldset + button {
	margin-top: 1em;
	width: 100%;
}

@media (min-width: 600px) {
	.product-details fieldset + button {
		width: auto;
	}
}

.product:hover .order-now-link,
.product-details button:hover,
.order-form button:hover {
	background: #7F081F;
	text-decoration: underline;
}

.product-details input {
	height: 18px;
	vertical-align: middle;
	cursor: pointer;
}

.product-details input + label {
	line-height: 18px;
	cursor: pointer;
}

.product-details input:hover + label,
.product-details input + label:hover {
	text-decoration: underline;
}

.product-details input[disabled] + label {
	color: #999;
	text-decoration: none;
	cursor: default;
}

.product-details fieldset > span {
	white-space: nowrap;
}

.product-details .added-to-cart-message {
	margin-left: 1em;
}

.breadcrumbs ul {
	margin: 0;
	list-style: none;
}

.breadcrumbs ul > li {
	margin: 0;
	display: inline;
}

.breadcrumbs ul > li > a {
	display: inline-block;
	padding: 0.2em 1em;
}

.breadcrumbs ul > li:last-child a,
.breadcrumbs ul > li > a:hover {
	background: #c60c30;
	color: white;
	text-decoration: none;
}

.popup {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

.popup > .popup-backdrop {
	background-color: black;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.popup > .popup-window {
	max-width: 880px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 20px auto;
	padding: 20px;
	pointer-events: none;
}

.popup > .popup-window > .popup-content {
	margin-bottom: 100px;
}

.popup > .popup-window > * {
	pointer-events: auto;	
}

.popup > .popup-window > .popup-loading-message {
	color: white;
	text-align: center;
	font-size: 24px;
	line-height: 300px;
}

.popup > .popup-window > .close {
	position: absolute; 
	top: 50px;
	right: 30px;
	width: 24px;
	height: 24px;
	text-align: center;
	color: black;
	text-decoration: none;
	font-size: 22px;
}

.popup > .popup-window > .close:hover:before {
	position: absolute;
	top: 0;
	color: white;
	right: 24px;
	font-size: 16px;
	line-height: 24px;
	height: 24px;
	padding-left: 8px;
	background-color: #c60c30;
	content: 'close';
	border-radius: 3px 0 0 3px;
}

.popup > .popup-window > .close:hover {
	color: white;
	background-color: #c60c30;
	border-radius: 0 3px 3px 0;
}

.popup > .popup-window > .popup-loading-message {
	opacity: 0;
	transition: opacity 500ms;
}

.popup.loading > .popup-window > .popup-loading-message {
	opacity: 1;
}

.popup.loaded > .popup-window > .popup-loading-message {
	display: none;
}

.popup > .popup-window > .popup-content,
.popup > .popup-window > .close {
	display: none; 
}

.popup.loaded > .popup-window > .popup-content,
.popup.loaded > .popup-window > .close {
	display: block; 
}

.popup {
	display: none;
}

.popup.visible {
	display: block;
}

.popup > .popup-backdrop {
	opacity: 0;
	transition: opacity 500ms;
}

.popup.visible > .popup-backdrop {
	opacity: 0.8;
}

.cart-contents table {
	border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.cart-contents table > thead > tr > th {
	text-align: left;
}

.cart-contents table > thead > tr:last-child > th {
	border-bottom: 1px solid #ccc;
}

.cart-contents table > tfoot > tr:first-child > th {
	border-top: 3px double #ccc;
}

.cart-contents table > tfoot > tr > th {
	text-align: right;
}

.cart-contents table .price {
	width: 4em;
	text-align: right;
}

@media (min-width: 720px) {
	.cart-contents table .price {
		width: 6em;
	}
}

.cart-contents table .actions {
	width: 30px;x
}

.remove-button {
	display: inline-block;
	border: none;
	background: transparent;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
	font: inherit;
	font-size: 0.8em;
}

.cart-contents .title {
	/*display: block;*/
}

.cart-contents .details {
	display: inline-block;
	margin: 0;
}

.cart-contents .details > dt {
	display: inline;
	color: #777;
}

.cart-contents .details > dt:after {
	content: ': ';
}

.cart-contents .details > dd {
	display: inline;
	margin: 0 0 0 0;
}

.cart-contents .details > dd:after {
	color: #777;
	content: ', ';
}

.cart-contents .details > dt:first-child:before {
	content: '(';
}

.cart-contents .details > dd:last-child:after {
	content: ')';
}

.cart-contents .order-form {
	max-height: 1000px;
	overflow: hidden;
	transition: opacity 500ms, max-height 500ms;
	opacity: 1;
}

.cart-contents .order-form.hidden {
	max-height: 0;
	opacity: 0;
}

/* Form css */

.vertical-form label {
	display: block;
	clear: both;
}

.vertical-form input[type=checkbox] + label {
	clear: none;
	cursor: pointer;
}

.vertical-form input {
	display: block;
	margin-bottom: 1em;
}

.vertical-form input[type=text],
.vertical-form textarea {
	box-sizing: border-box;
	font: inherit;
	width: 100%;
	border: 1px solid #ccc;
	padding: 3px 3px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border-radius: 3px;
}

.vertical-form input[type=checkbox] {
	display: block;
	float: left;
}

.vertical-form button {
	display: block;
	font: inherit;
	margin-top: 1em;
}

.vertical-form input.invalid,
.vertical-form input[type=checkbox].invalid + label {
	border: 1px solid #f00;
	border-radius: 3px;
}
