<div class="cart-contents">
	<form method="post" action="cart-api.php" class="remove-item-form">
		<input type="hidden" name="action" value="remove">
		<table>
			<thead>
				<tr>
					<th>Product</th>
					<th>Price</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($cart as $item_id => $item): ?>
				<tr id="item-<?=$item_id?>">
					<td>
						<strong class="title"><?=$item->product->title?></strong>
						<dl class="details"><?=format_options($item)?></dl>
					</td>
					<td class="price">&euro;&nbsp;<?=number_format($item->product->price, 2, ',', '.') ?></td>
					<td class="actions"><button type="submit" name="item" value="<?=$item_id?>" class="remove-button">Remove</button></td>
				</tr>
				<?php endforeach ?>
			</tbody>
			<tfoot>
				<tr>
					<th>Total:</th>
					<th class="price">&euro;&nbsp;<?=number_format(get_cart_price(), 2, ',', '.') ?></th>
					<th></th>
				</tr>
			</tfoot>
		</table>
	</form>

	<form method="post" action="cart-api.php" class="vertical-form order-form <? if (count($cart) == 0): ?>hidden<? endif ?>">
		<h2>Order <span class="cart-item-count" data-format-singular="this item" data-format-plural="these %d items"><?=nsprintf('this item', 'these %d items', get_cart_item_count())?></span></h2>
		
		<input type="hidden" name="action" value="order">

		<label for="order-name">Name:</label>
		<input type="text" name="name" id="order-name" placeholder="Your full name" value="<?=$user ? htmlspecialchars($user->naam) : ''?>">

		<label for="order-address">Address:</label>
		<input type="text" name="address" id="order-address" placeholder="Address and house number" value="<?=$user ? htmlspecialchars($user->adres) : ''?>">

		<label for="order-postal-code">Postal code:</label>
		<input type="text" name="postal_code" id="order-postal-code" placeholder="e.g. 9700AB" value="<?=$user ? htmlspecialchars($user->postcode) : ''?>">

		<label for="order-place">Place of residence:</label>
		<input type="text" name="place" id="order-place" placeholder="e.g. Groningen" value="<?=$user ? htmlspecialchars($user->woonplaats) : ''?>">

		<label for="order-email-address">Email address:</label>
		<input type="text" name="email_address" id="order-email-address" placeholder="Your email address" value="<?=$user ? htmlspecialchars($user->email) : ''?>">

		<label for="order-bank-account">IBAN account number:</label>
		<input type="text" name="bank_account" id="order-bank-account" placeholder="Your IBAN number, probably starting with NL">

		<input type="checkbox" name="agree" value="yes" id="order-agree">
		<label for="order-agree">I allow Cover (ID: NL48ZZZ400267070000) to deduct the amount mentioned above from my bank account.</label>

		<label for="order-remarks">Additional remarks:</label>
		<textarea name="remarks" id="order-remarks" placeholder=""></textarea>

		<button type="submit">Order my shit</button>
	</form>
</div>
