<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="mobileoptimized" content="0">
		<title><?=htmlspecialchars($title)?> &mdash; Cover</title>
		<link rel="stylesheet" href="cover.css">
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<!--[if lt IE 9]>
			<script src="html5shiv.js"></script>
		<![endif]-->
	</head>
	<body>
		<header class="website-header">
			<a href="//www.svcover.nl/" class="logo" title="Go to the Cover homepage"><img alt="Cover" src="//sd.svcover.nl/Logos/Cover/white/cover_logo_white_small.png"></a>
			<h1><a href="index.php">Merchandise</a></h1>

			<a class="cart" href="cart.php">Cart (<span class="cart-item-count" data-format-singular="%d item" data-format-plural="%d items"><?=nsprintf('%d item', '%d items', get_cart_item_count())?></span>)</a>
		</header>
		<div class="website-content">
			<?=$content?>
		</div>
		<footer class="website-footer">
			<p>Questions or remarks? Please contact <a href="mailto:board@svcover.nl">board@svcover.nl</a>.</p>
		</footer>
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="script.js"></script>
	</body>
</html>
