<section class="product-list">
	<?php foreach ($products as $id => $product): ?>
	<a class="product <?=isset($product->stock) && $product->stock <= 0 ? 'sold-out' : '' ?>" href="product.php?product=<?=$id?>">
		<img src="images/products/<?=$product->images->small?>" class="product-image">
		<h3 class="title"><?=$product->title?></h3>
		<p class="description"><?=$product->description?></p>
		<span class="order-now-link">
			More info
		</span>
	</a>
	<?php endforeach ?>
</section>
