<div class="product-details">
	<div class="product-pictures">
		<img class="picture" src="images/products/<?=$product->images->small?>">
		<?php if (isset($product->images->large)) foreach ($product->images->large as $image): ?>
		<a href="images/products/<?=$image?>"><img class="picture-detail" src="images/products/<?=$image?>"></a>
		<?php endforeach ?>
	</div>
	<h2 class="title"><?=$product->title ?></h2>
	<p class="description"><?=$product->description?></p>
	<p class="price">Price: &euro;&nbsp;<?=number_format($product->price, 2, ',', '.') ?></p>
	<dl class="details">
		<?php foreach ($product->details as $key => $value): ?>
		<dt><?= htmlspecialchars($key) ?></dt>
		<dd><?= htmlspecialchars($value) ?></dd>
		<?php endforeach ?>
	</dl>
	<?php if (!isset($product->stock) || $product->stock > 0): ?>
	<form method="post" action="cart.php" class="add-to-cart-form">
		<input type="hidden" name="action" value="add">
		<input type="hidden" name="product" value="<?=$product->id?>">
		<?php if (!empty($product->options)): ?>
			<?php foreach ($product->options as $name => $config): ?>
				<fieldset>
					<legend><?=$config->label?></legend>
					<?php foreach ($config->values as $value => $option): ?>
						<span>
							<input type="radio" id="<?=$name?>-<?=$value?>" name="options[<?=$name?>]" value="<?=$value?>"<?=isset($option->restrictions)? sprintf(' data-restrictions="%s"', htmlspecialchars(json_encode($option->restrictions), ENT_QUOTES)) : ''?>>
							<label for="<?=$name?>-<?=$value?>"><?=$option->label?></label>
						</span>
					<?php endforeach ?>
				</fieldset>
			<?php endforeach ?>
		<?php endif ?>
		<button type="submit">Add to cart</button>
	</form>
	<?php else: ?>
	<div class="add-to-cart-form">
		<p>Currently not available. Sorry!</p>
	</div>
	<?php endif ?>
</div>
